      <li class="nav-item">
        <%= link_to "マイページ", user_path(current_user) %>
      </li>
      <li class="nav-item">
        <%= link_to "商品一覧", items_path %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path %>
      </li>